 # Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>

  - Python
  - R 
  - Java
  - Julia

Some of the popular languages that Data Scientists use are:
    
    1. Python
    2. R
    3. Java
    4. Julia

Some of the commonly used libraries used by Data Scientists include:
   * TensorFlow.
   * NumPy.
   * SciPy.
   * Pandas.
   * Matplotlib.
   * Keras.
   * SciKit-Learn.
   * PyTorch.

Create a single column table in this cell with the first row containing the header Data Science Tools. 
The subsequent three rows in the table should indicate three development environment open source tools 
used in data science.

In [7]:
import pandas as pd


data = {'Data Science Tools': ['Development Environment'],
        'Tool 1': ['RStudio'],
        'Tool 2': ['Apache Spark'],
        'Tool 3': ['TensorFlow']}

In [8]:
df = pd.DataFrame(data)

In [9]:
display(df)

        Data Science Tools   Tool 1        Tool 2      Tool 3
0  Development Environment  RStudio  Apache Spark  TensorFlow

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
(3*4)+5

# This a simple arithmetic expression to mutiply then add integers

17

In [11]:
200 / 60

#  This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author:
Manzela Antonio Ngbesu